<div class="main section" id="top">
  <div class="w-container">
    <a class="sublinks" href="<%= new_profile_path %>">New Patient</a>
    <a class="sublinks" href="<%= profiles_path %>">All Patients</a>
  </div>
</div>
