<div class="main section" id="top">
  <div class="w-container">
    <a class="sublinks" href="<%= new_appointment_type_path %>">New Appointment Type</a>
    <a class="sublinks" href="<%= appointment_types_path %>">All Appointment Types</a>
  </div>
</div>
