<h1>Editing treatment_note</h1>

<%= render 'form' %>

<%= link_to 'Show', [@treatment_note.patient, @treatment_note] %> |
<%= link_to 'Back', patient_treatment_notes_path(@treatment_note.patient) %>
