<div class="main section" id="top">
  <div class="w-container">
    <a class="sublinks" href="<%= new_patient_path %>">New Patient</a>
    <a class="sublinks" href="<%= patients_path %>">All Patients</a>
  </div>
</div>
