table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
    border: 1px solid black;
}

th {
    background-color: #F0F8FF;
    color: black;
}

.table-link-grey {
  color: black;
}
