<div class="main section" id="top">
  <div class="w-container">
    <a class="sublinks" href="<%= new_availability_path %>">New Availability</a>
    <a class="sublinks" href="<%= availabilities_path %>">All Availabilites</a>
  </div>
</div>
