<%= render "availabilities/availheader" %>


<h1>New availability</h1>

<div class="w-container">
  <div class="table-border">
      <h1>New patient</h1>
      <br>
      <%= render 'form' %>
<%= link_to 'Back', availabilities_path %>
</div>
</div>
