<div class="footer section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="footer logo-text">Owner Health</div>
        <div class="footer-slogan">Sign up for our newsletter</div>
        <div class="newsletter-form w-form">
        <div class="social-icon-group">
          <a class="social-icon w-inline-block" href="#"><img src="/assets/facebook-icon.svg">
          </a>
          <a class="social-icon w-inline-block" href="#"><img src="/assets/twitter-icon.svg">
          </a>
          <a class="social-icon w-inline-block" href="#"><img src="/assets/linkdin-icon-white.svg">
          </a>
          <a class="social-icon w-inline-block" href="#"><img src="/assets/email-icon-white.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="copyright footer section">
  <div class="w-container">
    <div>Copyright 2014 Metric. All Rights Reserved. Brand logos for demonstration purposes only.</div>
  </div>
</div>
